html
	head
		body 
		a(href='/registration') home
		form(action='/registration' method='post')
			label first name
			input(name='firstname')
			label last name
			input(name='lastname')
			label email
			input(name='email')
			input(type='submit' value='add user')