html
	head
		body 
		a(href='/') home
		form(action='/search' method='post')
			label first name
			input(name='firstname')
			label last name
			input(name='lastname')
			input(type='submit' value='find user')